@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
main,html,body{
    width: 100%;
    height: 100%;
}
p{
    direction: rtl;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 20px;
    color: #000000;
}
main{
}

#deals{
    direction: rtl;
    width: 80.3%;
    height: 50.3%;
    margin-top: 8%;
}
.rowElement{
    width: 100%;
    height: 25%;
    margin-bottom: 4%;

}
.item{
    float: right;
    height: 100%;
    width: 9.4%;
}
.location{
    float: right;
    width: 27%;
     height: 100%;
}
.item>p{
  margin-top: 22%;
    margin-right: 20px;
}
.location>p{
    margin-top: 9%;
    margin-right: 20px ;

}
.avt{
    margin-top: 0;
}
.likes{
    margin-top: 15%;
    margin-right: 40px !important;
}
.tok{
    margin-top: 15%;
    margin-left: 5%;
    height: 50%;
}
.info{
    margin-top: 22%;
    margin-left: 5%;
}





