main,html,body{
    width: 100%;
    height: 100%;
}
header{
    background-color: #4990e2;
}

p{
    direction: rtl;
    font-family: LucidaGrande;
    font-size: 30px;
    color: #000000;
}
#heder{
    float: right;
    margin-top: 1.1%;
    margin-right: 3.5%;
    font-family: LucidaGrande;
    font-size: 48px;
    color: #4A4A4A;
}
#deals{
    direction: rtl;
    float: right;
    width: 66.3%;
    height: 35.3%;
    margin-top: 8%;
    margin-right:20% ;
}
.rowelement{
    width: 100%;
    height: 25%;
    margin-bottom: 2%;
}
.item{
    float: right;
    height: 100%;
    width: 9.4%;
}
.locaton{
    float: right;
    width: 27%;
     height: 100%;
}
.item>p{
  margin-top: 22%;
    margin-right: 3%;
}
.locaton>p{
    margin-top: 9%;
    margin-right: 3%;

}

.avt{
    margin-top: 0;
}
.likes{
    margin-top: 15%;
    margin-right: 22%;
}
.tok{
    margin-top: 15%;
    margin-left: 5%;
    height: 50%;
}
.info{
    margin-top: 22%;
    margin-left: 5%;
}




