main,html,body{
    width: 100%;
    height: 100%;
}
p{
    direction: rtl;
    font-family: LucidaGrande;
    font-size: 30px;
    color: #000000;
}
#title {
    float: right;
    margin-top: 1.1%;
    margin-right: 3.5%;
    font-family: LucidaGrande;
    font-size: 48px;
    color: #4A4A4A;
}
#profile1{
    position: relative;
    float: right;
    width: 20.8%;
    height: 32.6%;
    background: url("../../../img/mic.png") no-repeat center center;
    background-size: 80%;

}
#token{
    position: absolute;
    width: 40.4%;
    height: 40.3%;
    bottom: 10px;
    left: 0;
    background: url("../../../img/magic-wand copy.png") no-repeat center center;
    background-size: 80%;
}
#profile2{
    position: relative;
    float: left;
    width: 20.8%;
    height: 32.6%;
    background: url("../../../img/han.png") no-repeat center center;
    background-size: 80%;

}
#token2{
    position: absolute;
    width: 40.4%;
    height: 40.3%;
    bottom: 10px;
    left: 0;
    background: url("../../../img/pacifier copy.png") no-repeat center center;
    background-size: 80%;
}
#row1{

}
#info{
    font-family: LucidaGrande-Bold;
    font-size: 30px;
    color: #000000;
    text-align: center;
}
#from{
    float: right;
    font-family: LucidaGrande-Bold;
    font-size: 35px;
    color: #000000;
}
#row2{
    position: relative;
    width: 41%;height:10% ;
    float: right;
    margin-right: 33.1%;
    margin-top: 2%;
    text-align: center;
}
#userBuy{
    float: right;
}
#to{
    float: left;
    font-family: LucidaGrande-Bold;
    font-size: 35px;
    color: #000000;
}


#map{
    margin-top: 70px;
    width: 60%;
    height:40% ;
}
#sync {
    position: relative;
    float: right;
    width: 13.8%;
    height: 18.6%;
    margin-right: 22%;
    margin-top: 50px;
    background: url("../../../img/icon.png") no-repeat center center;
    background-size: 100%;
}
#wrapper{
    width: 50%;
    height: 80%;
}



