/* main */
main{
    overflow: hidden;
    padding-top: 69px;
}
section{
    width: 214px;
    height: 92px;
    border: solid 1px #b7b7b7;
    margin-top: 29px;

}
section:nth-of-type(1){
    background: url("../images/buying.png") 84px 37px no-repeat #d8d8d8;
}
section:nth-of-type(2){
    background: url("../images/selling.png") 84px 37px no-repeat #d8d8d8;
}
section > p{
    text-align: center;
    font-size: 30px;
}