/* all */
*{
    margin: 0 auto;
    padding: 0;
}
footer, header, article, section, main, nav, aside {
    display: block;
}
.clear{
    clear: both;
}
/* header */
header{
    min-width: 510px;
    height: 47px;
    border: solid 1px #6495d7;
    background: #4990e2;
}
header > a{
    background: url("../../../images/logo.png") 0 3px no-repeat;
    width: 89px;
    height: 42px;
    display: block;
    margin: 0 auto;
}
header label{
    float: left;
    line-height: 47px;
    margin-left: 5px;
}

#avatar{
    background: url("../../../images/avatar.png") 5px 5px white no-repeat;
    float: left;
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
#avatar > img{
    margin: 5px;
}
.menu{
    background: url("../../../images/menu.png")no-repeat 5px 0;
    float: right;
    margin: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* nav */
nav{
    display: none;
    background: #d8d8d8;
    float: right;
    width: 140px;
    border: solid 1px #c8c8c8;
    min-height: 465px;
}
nav ul{
    list-style: none;
}
nav li{
    margin-top: 5px;
    text-align: right;
    height: 30px;
}
nav a{
    text-align: right;
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: white;
}
nav li:nth-of-type(1){
    background: url("../../../images/home.png") 5px 3px no-repeat;
}
nav li:nth-of-type(2){
    background: url("../../../images/buying.png") 5px 3px no-repeat #9b9b9b;
}
nav li:nth-of-type(3){
    background: url("../../../images/selling.png") 5px 3px no-repeat #9b9b9b;
}
nav li:nth-of-type(4){
    background: url("../../../images/mail.png") 5px 3px no-repeat #9b9b9b;
}
nav li:nth-of-type(5){
    background: url("../../../images/meetings.png") 5px 3px no-repeat #9b9b9b;
}
nav li:nth-of-type(6){
    background: url("../../../images/menuAvatar.png") 5px 3px no-repeat #9b9b9b;
}
nav li:hover{
    background-color: #4990e2;
}
nav li > img{
    margin: 3px 0 1px 5px;
    float: left;
}
/* main */
main{
    text-align: center;
}
#avatars{
    display: none;
    margin: 0 auto;
    max-width: 425px;
    max-height: 204px;
    overflow: hidden;
}
.mainAvatar{
    background: url("../../../images/mainAvatar.png") 5px 5px no-repeat;
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
section{
    margin: 0 0 20px 12px;
    width: 90px;
    height: 90px;
    border: solid 1px black;
    border-radius: 50%;
    float: left;
}
section > img{
    margin-top: 5px;
}
#arrowUp{
    width: 35px;
    height: 35px;
    background: url("../../../images/arrowUp.png") no-repeat;
    margin: 0 auto;
    display: none;
    cursor: pointer;
    overflow: hidden;
}
#arrowDown{
    width: 35px;
    height: 35px;
    background: url("../../../images/arrowDown.png") no-repeat;
    margin: 0 auto;
    display: none;
    cursor: pointer;
    overflow: hidden;
}
/* form */
form{
    margin: 0 auto;
    max-width: 320px;
    position: relative;
    min-height: 220px;
    overflow: hidden;
}
#date{
    position: absolute;
    left: 82px;
    top: 21px;
    font-size: 12px;
}
#secondDate{
    position: absolute;
    left: 0;
    top: 43px;
    text-align: right;
    width: 146px;
    cursor: pointer;
}
#firstDate{
    position: absolute;
    right: 0;
    top: 43px;
    text-align: right;
    width: 146px;
    cursor: pointer;
}
#buy{
    position: absolute;
    top: 75px;
    left: 114px;
    font-size: 12px;
}
#coin{
    position: absolute;
    top: 96px;
    left: 0;
    text-align: right;
    height: 24px;
    cursor: pointer;
}
#amount{
    position: absolute;
    top: 96px;
    right: 0;
    text-align: right;
    width: 146px;
    height: 20px;
}
button{
    position: absolute;
    top: 135px;
    left: 0;
    font-size: 25px;
    cursor: pointer;
}
#ilsAmount{
    position: absolute;
    top: 122px;
    right: 0;
    font-size: 50px;
}
form > label:nth-of-type(1){
    position: absolute;
    color: #ff0000;
    top: 43px;
    right: 139px;
    z-index: 1;
}
form > label:nth-of-type(2){
    position: absolute;
    color: #ff0000;
    top: 43px;
    left: 3px;
    z-index: 1;
}
form > label:nth-of-type(3){
    position: absolute;
    color: #ff0000;
    top: 96px;
    right: 139px;
    z-index: 1;
}


