/*main*/
.bottomLine{
    width: 41.7%;
    height: 2px;
    background: #4990e2;
    float: right;
}
.topLine{
    width: 41.7%;
    height: 2px;
    float: left;
    background: #4990e2;
}
.cardsRight{
    position: relative;
    width: 50.5%;
    height: 14vw;
    float: right;
    background: #f9f9f9;
    border-radius: 10px;
    line-height: 36.6%;
    margin-top: 10px;
}
.cardsLeft{
    position: relative;
    width: 50.5%;
    height: 14vw;
    float: left;
    background: #f9f9f9;
    border-radius: 10px;
    line-height: 36.6%;
    margin-top: 10px;
}
.avatars{
    margin: 5% 5% 0 0;
    float: right;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background: no-repeat center center;
    background-size: 100%;
    position: relative;
}
.likes{
    position: absolute;
    background: #d8d8d8;
    width: 100%;
    height: 15.7%;
    bottom: 0;
    border-radius: 10px;
}
.like{
    margin: 0.5vw 10px 0 10px;
    width: 3.5%;
    height: 56%;
    background: url("../../../images/graphics/tumbUp.png") no-repeat center center;
    background-size: 100%;
    float: left;
}
.disLike{
    margin: 0.5vw 10px 0 10px;
    width: 3.5%;
    height: 56%;
    background: url("../../../images/graphics/tumbDown.png") no-repeat center center;
    background-size: 100%;
    float: left;
}
.likes > p{
    float: left;
    margin: 1vw 1vw 0 0;
    font-size: 1.5vw;
}
.score{
    position: absolute;
    bottom: 0;
    left: 0;
    background: no-repeat center center;
    background-size: 100%;
    width: 34%;
    height: 34%;
}
.cardsLeft > p, .cardsRight > p{
    position: absolute;
    top: 38%;
    left: 15%;
    font-size: 1.5vw;
}
main h1{
    color: #337ab7 !important;
    font-size: 3.5vw !important;
    text-align: center;
    padding-top: 10px;
}
.cont{
    height: 100%;
    width: 66.66%;
    padding-top: 15px;
}
header, nav{
    top: 0;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}
@media (max-width: 780px) {
    .cardsLeft > p, .cardsRight > p{
        font-size: 3vw;
    }
    .cont{
        width: 100%;
        padding-top: 15px;
        text-align: center;
    }
    .cardsRight{
        position: relative;
        width: 60%;
        height: 25vw;
        background: #f9f9f9;
        border-radius: 10px;
        line-height: 36.6%;
        margin-top: 10px;
        float: none;
    }
    .cardsLeft{
        position: relative;
        width: 60%;
        height: 25vw;
        background: #f9f9f9;
        border-radius: 10px;
        line-height: 36.6%;
        margin-top: 10px;
        float: none;
    }
}


