body,html {
    overflow-y:hidden;
}
main{
    width: 40vw;
    margin-top: 0;
}

#title{
    text-align: right;
    padding-right: 10.5vw;
    margin-top: 10px;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 2.5vw;
    color: #4d90fe;
    width: 100%;
    padding-top: 70px;

}
#map{
    margin-top: 50px;
    width: 40vw;
    height: 22vw;
}
#aform{
    height: 70px;
}
#inpamunt{
    float: right;
    width: 7vw;
    text-align: center;
}
#seletCurr{
    float: left;
    width: 14vw;
    text-align: center;
    display: block;

}
#inpDate{
    float: left;
    text-align: center;
    width: 14vw;

}
#inpTime{
    float: right;
    text-align: center;
    width: 7vw;
}
#buttonArea{
    margin-top: 20px;
    text-align: center;
}
#publish{
    width: 6vw;
    height: 3vw;
    border-radius: 10px;
    background:url(../../../images/buttons/btPublish.png) no-repeat;
    background-size: 6vw 3vw;
    cursor:pointer;
    margin: 0 auto;
    text-align: center;
}
#searchInput {
    margin-top: 10px;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0px 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
    text-align: right;
}
#searchInput:focus {
    border-color: #4d90fe;

}
.felement{
    width: 100%;
    height: 2vw;
    display: block;
    margin-top:10px;
}
.erorMes{
    color: #ff0000;
    float: right;
    text-align: right;
}




