/* main */
body{
    overflow: hidden;
}
#scroll{
    display: none;
    width: 40vw;
    height: 21.5vw;
    overflow: hidden;
    padding-left: 2vw;
}
#scrollNav{
    height: 2.2vw;
    width: 28vw;
}
#scrollNav > p{
    direction: rtl;
    float: right;
    font-size: 1.8vw;
}
#scrollNav > div {
    float: right;
    margin: 0.4vw 1vw 0 0;
    width: 1.5vw;
    height: 2vw;
    background-size: 100%;
}
#listType{
    float: left !important;
    background: url("../../../images/list.png") center center no-repeat;

}
#filCash{
    background: url("../../../images/money-2.png") center center no-repeat;

}
#filLocation{
    background: url("../../../images/maps-and-flags.png") center center no-repeat;
}
#filScore{
    width: 2vw !important;
    background: url("../../../images/crownitem.png")  center center no-repeat;
}
#scrollBuying{
    width: 44vw;
    height: 24vw;
    overflow: scroll;
    padding-bottom: 15px;
}
section{
    background: url("../../../images/mic.png") center center no-repeat;
    background-size: 90%;
    width: 18%;
    height: 36%;
    float: left;
    margin-right: 4%;
}
/* form */
form{
    width: 32%;
    position: relative;
    overflow: hidden;
}
form > p:nth-of-type(1){
    position: relative;
    float: left;
    width: 47.7%;
    height: 30px;
}
form > p:nth-of-type(2){
    position: relative;
    float: right;
    width: 47.7%;
    height: 30px;
}
#secondDate{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000;
    text-align: center;
}
#firstDate{
    position: relative;
    float: right;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000;
    padding-right: 10px;

}
form > p:nth-of-type(3){
    position: relative;
    width: 65%;
    height: 30px;
    float: left;
}
#buy{
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    width: 100%;
}
#coin{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100%;
    float: left;
    cursor: pointer;
}
form > p:nth-of-type(4){
    position: relative;
    float: right;
    width: 20%;
    height: 30px;
}
#amount{
    position: relative;
    float: right;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000;
}
#button{
    position: absolute;
    width: 25%;
    height: 22%;
    bottom: 15px;
    left: 0;
    border-radius: 10px;
    background: url(../../../images/search.png) no-repeat center center;
    background-size: 100%;
    cursor: pointer;
}
#ilsAmount{
    position: relative;
    float: right;
    font-size: 3vw;
    margin-top: 10px;
}
#ilsAmount > span{
    font-size: 1.5vw;
}
form > p > span:nth-of-type(1){
    position: absolute;
    color: #ff0000;
    right: 2px;
    z-index: 1;
}
form > p > span:nth-of-type(2){
    position: absolute;
    color: #ff0000;
    top: 43px;
    left: 3px;
    z-index: 1;
}
form > p > span:nth-of-type(3){
    position: absolute;
    color: #ff0000;
    top: 96px;
    right: 139px;
    z-index: 1;
}
.error{
    color: red;
    direction: rtl;
    margin-left: 145px;
    margin-top: 50px;
    display: none;
}


