/* main */
main > div{
    overflow: hidden;
}
#scroll{
    display: none;
    max-width: 425px;
    max-height: 269px;
    overflow: hidden;
}
#avatars{
    width: 440px;
    height: 269px;
    overflow: scroll;
    padding-bottom: 15px;
}
.mainAvatar{
    background: url("../../../images/mainAvatar.png") 5px 5px no-repeat;
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
section{
    background: url("../../../images/mainAvatar.png") 12px 12px no-repeat;
    margin: 0 0 20px 12px;
    width: 90px;
    height: 90px;
    border: solid 1px black;
    border-radius: 50%;
    float: left;
}
#arrowUp{
    width: 35px;
    height: 35px;
    background: url("../images/arrowUp.png") no-repeat;
    display: none;
    cursor: pointer;
}
#arrowDown{
    width: 35px;
    height: 35px;
    background: url("../images/arrowDown.png") no-repeat;
    display: none;
    cursor: pointer;
}
/* form */
form{
    max-width: 320px;
    position: relative;
    min-height: 220px;
    overflow: hidden;
}
#date{
    position: absolute;
    left: 82px;
    top: 21px;
    font-size: 12px;
}
#secondDate{
    position: absolute;
    left: 0;
    top: 43px;
    text-align: right;
    width: 146px;
    cursor: pointer;
}
#firstDate{
    position: absolute;
    right: 0;
    top: 43px;
    text-align: right;
    width: 146px;
    cursor: pointer;
}
#buy{
    position: absolute;
    top: 75px;
    left: 114px;
    font-size: 12px;
}
#coin{
    position: absolute;
    top: 96px;
    left: 0;
    text-align: right;
    height: 24px;
    cursor: pointer;
}
#amount{
    position: absolute;
    top: 96px;
    right: 0;
    text-align: right;
    width: 146px;
    height: 20px;
}
button{
    position: absolute;
    top: 135px;
    left: 0;
    font-size: 25px;
    cursor: pointer;
}
#ilsAmount{
    position: absolute;
    top: 122px;
    right: 0;
    font-size: 50px;
}
form > label:nth-of-type(1){
    position: absolute;
    color: #ff0000;
    top: 43px;
    right: 139px;
    z-index: 1;
}
form > label:nth-of-type(2){
    position: absolute;
    color: #ff0000;
    top: 43px;
    left: 3px;
    z-index: 1;
}
form > label:nth-of-type(3){
    position: absolute;
    color: #ff0000;
    top: 96px;
    right: 139px;
    z-index: 1;
}


