/* all */
*{
    margin: 0 auto;
    padding: 0;
}
footer, header, article, section, main, nav, aside {
    display: block;
}
.clear{
    clear: both;
}
/* header */
header{
    height: 100px;
}
#logo{
    background: /*url("../images/logo.png")*/ black no-repeat;
    width: 139px;
    height: 68px;
    display: block;
    margin: 0 auto;
    float: left;
    /*16 top
    left 29*/
}
#profile{
    background: /*url("")*/black no-repeat;
    width: 60px;
    height: 60px;
    /*15 px top
    right 20px*/
    float: right;
    border-radius: 50%;
}

nav{
    margin: 0 0 0 139px;
    height: 100px;
    max-width: 1000px;
}
nav ul{
    list-style: none;
}
nav li{
    /*
    margin-top: 17px;
    */
    margin-left: 6% !important;
    text-align: center;

}
nav a{
    font-size: 36px;
}
.clear{
    clear: both;
}
main > div{
    text-align: center;
}
.bottomLine{
    width: 41.7%;
    height: 0.4%;
}
.topLine{
    width: 41.7%;
    height: 0.4%;

}

