/* all */
html, body {
    height: 100%;
    width: 100%;
}
*{
    margin: 0 auto;
    padding: 0;
}
footer, header, article, section, main, nav, aside {
    display: block;
}
.clear{
    clear: both;
}
/* header */
header{
    height: 100px;
}
#logo{
    background: /*url("../images/logo.png")*/ black no-repeat;
    width: 139px;
    height: 68px;
    display: block;
    margin: 16px 0 0 29px;
    float: left;
    /*16 top
    left 29*/
}
#profile{
    background: /*url("")*/black no-repeat;
    width: 60px;
    height: 60px;
    margin: 15px 20px 0 0;
    /*15 px top
    right 20px*/
    float: right;
    border-radius: 50%;
}
nav {
    /*
    margin: 0 0 0 139px;
    */
    height: 100px;
}
nav li{
    margin: 15px 0 0 6% !important;
}
nav a {
    font-size: 36px;
}
main{
    width: 100%;
    height: 100%;
}


