*{
    margin: 0;
    padding: 0;
}
footer, header, article, section, main, nav, aside {
    display: block;
}
header{
    min-width: 510px;
    height: 47px;
    border: solid 1px #6495d7;
    background: #4990e2;
}
header > a{
    background: url("../images/logo.png") 0 3px no-repeat;
    width: 89px;
    height: 42px;
    display: block;
    margin: 0 auto;
}
.clear{
    clear: both;
}
main{
    float: right;
}
nav{
    background: #d8d8d8;
    float: right;
    width: 85px;
    border: solid 1px #c8c8c8;
    min-height: 465px;
}
#avatar{
    float: left;
    margin: 8px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}
#avatar > img{
    margin: 5px;
}